extends layout

block content
  //canvas(id='space')
  //  |you need to upgrade your browser

  //<div class="element" style="background-color: rgba(0, 127, 127, 0.654902); position: absolute; "><div class="number">1</div><div class="symbol">H</div><div class="details">Hydrogen<br>1.00794</div></div>

  #container
  #info


  //动画库
  script(src='/javascripts/tween.min.js')
  script(src='/javascripts/three.min.js')

  script(src='/javascripts/TrackballControls.js')
  script(src='/javascripts/CSS3DRenderer.js')
  script(src='/javascripts/planetRender.js')


